body{
	padding: 0px;
	margin: 0px;
	background-color: #FFE5B4;
	color: #FEA600;
}
.container{
	width: 1920px;
	height: 1080px;
	position: relative;
	padding: 0px;
	margin-top: 60px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
	border: 0px;

}
.body{
	padding: 0px;
	margin: auto;
	border: 0px;
}
/*                 Menu                      */
.logo{
	width: 45px;
	height: 45;
	padding-right: 7rem;
	margin: .5rem;
	border: 0;
	color: #fff;
	float: left;
}
.menu{
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	padding: 0 3rem;
	background: #E6B14D;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	font-size: 22px;

}
.menu a{
	margin: 0 1rem;
	text-decoration: none;
	padding: 1rem .5rem;
}
.dropdown{
	position: relative;
}
.dropdown ul{
	width: 200px;
	text-align: center;
	position: absolute;
	background: #E6B14D;
	padding: 0;
	list-style-type: none;
	box-shadow: 0px 0px 23px 0px rgba(0,0,0,0,25);
	margin-top: 10px;
	border-radius: 7px;
	display: none;
}
.dropdown ul li{
	padding: .5rem;
}
.dropdown ul li a{
	width: 100%;
	height: 100%;
	display: inline-block;
	padding: 0;
	margin: 0;
}
.dropdown ul li li:hover{
	background: #FEA600;
	border-radius: 7px;
}
.dropdown a:focus + ul,
.dropdown a:hover + ul,
.dropdown ul:hover {
	display: block;
}
/*      outskirts         */
.left{
	width: 380px;
	height: 960px;
	padding: 0px;
	margin: 0px;
	border: 0px;
	float: left;
}
.right{
	width: 380px;
	height: 960px;
	padding: 0px;
	margin: 0px;
	border: 0px;
	float: left;
}
/* ==========  middle  ++++++++++*/
#middle 
{
	width: 1000px;
	height: 960px;
	padding: 0px;
	margin-left: 80px;
	margin-right: 80px;
	border: 0px;
	float: left;
}

.rectangle
{
	width: 1920px;
	margin: 10px;
	text-align: center;
	float: left;
	text-size-adjust: 18px;
}
.donate
{
	width: 920px;
	font-size: 66px;
	color: gold;
	text-align: center;
}
.donate2
{
	width: 920px;
	font-size: 44px;
	text-align: center;
}
.donate2 a:link{
	color: #008000;
	background-color: transparent;
	text-decoration: none;
  }
.donate2 a:visited {
	color: #fff;
	background-color: transparent;
	text-decoration: none;
  }
  
.donate2 a:hover {
	color: #008000;
	background-color: transparent;
	text-decoration: none;
  }
  
.donate2 a:active {
	color: yellow;
	background-color: transparent;
	text-decoration: none;
  }
  
  
.donateLive
{
	width: 920px;
	font-size: 44px;
	color: gold;
	text-align: center;
}
.square
{
	width: 500px;
	height: 500px;
	float: left;
}


#Title
{
	float: left;
	font-size: 55px;
	width: 600px;
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: left;
}

#zegar
{
	float: left;
	font-size: 35px;
	margin-top: 46px;
	margin-bottom: 46px;
	text-align: center;
}

.tile1
{
	margin: 10px;
	width: 230px;
	height: 142px;
	background-color: #3095d3;
	float: left;
}

.tile2
{
	margin: 10px;
	width: 230px;
	height: 142px;
	background-color: #3095d3;
	float: left;
}

.tile3
{
	margin: 10px;
	width: 230px;
	height: 142px;
	background-color: #3095d3;
	float: left;
}

.tile4
{
	margin: 10px;
	width: 480px;
	height: 142px;
	background-color: #3095d3;
	
}

.tile5
{
	margin: 10px;
	width: 480px;
	height: 304px;
	background-color: #666;
}
.title6{
	margin: 10px;
	width: 480px;
	height: 304px;
	text-align: center;
	font-size: 22px;
	padding-top: 12px;
	background-color: #D5EDA8;
}

.yt
{
	margin: 10px;
	width: 105px;
	height: 142px;
	background-color: #d94348;
	float: left;
}

.discord
{
	margin: 10px;
	width: 105px;
	height: 142px;
	background-color: #d94348;
	float: left;
}

.twitter
{
	margin: 10px;
	width: 105px;
	height: 142px;
	background-color: #3095d3;
	float: left;
}

.twitch
{
	margin: 10px;
	width: 105px;
	height: 142px;
	background-color: #b803ff;
	float: left;
}

/* Links */
a:link {
	color: #fff;
	background-color: transparent;
	text-decoration: none;
  }
  
  a:visited {
	color: #fff;
	background-color: transparent;
	text-decoration: none;
  }
  
  a:hover {
	color: #A5D648;
	background-color: transparent;
	text-decoration: none;
  }
  
  a:active {
	color: yellow;
	background-color: transparent;
	text-decoration: none;
  }
  
/*    other     */
.box{
	width: 920px;
	height: auto;
	position: relative;
	padding: 0px;
	margin: 500px;
	border: 2px;
	text-align: center;

}
